<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.uninorte.tsh" version="1.0">
<name>Technokyklos</name> 
<description>
Aprende un poco más sobre como reciclar tus dispositivos.
</description> 
<author email="mjhurtado@uninorte.edu.co" email="mjlozano@uninorte.edu.co">
 José Hurtado, Jesús Lozano
</author> 
<platform name="android">
        <icon src="res/android/icon/ldpi.png" density="ldpi" />
        <icon src="res/android/icon/mdpi.png" density="mdpi" />
        <icon src="res/android/icon/hdpi.png" density="hdpi" />
        <icon src="res/android/icon/xhdpi.png" density="xhdpi" />
        <icon src="res/android/icon/xxhdpi.png" density="xxhdpi" />
        <icon src="res/android/icon/xxxhdpi.png" density="xxxhdpi" />
    </platform>
</widget>
